div.myClass h1,div.myClass p{
    color: white;
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5) ;
    padding: 0.5rem;
    margin: 0.5rem;
    background-size: cover;
    background-position: center center;
}

.bg{
    background-color: rgba(0, 0, 0, 0.541);
}

div.container p{
    text-align: justify;
    
}

div.carousel-caption p, div.carousel-caption h5
{
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.5) ;
    text-align: center;
}