@import 'adminBootstrap.min.css' ;

div.myClass{

    h1,p{

        color: white;
        text-shadow: 0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5) ;
        padding: 0.5rem;
        margin: 0.5rem;
        background-size: cover;
        background-position: center center;
    }
}

.bg{
    background-color: rgba(0, 0, 0, 0.541);
}

div.container p{
    text-align: justify;
    
}

div.carousel-caption
{
    p, h5{

        color: white;
        text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.5) ;
        text-align: center;
    }
}

.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

    &.avatar-md{
        max-width: 64px;
        max-height: 64px;
    }

    &.avatar-mini{
        max-width: 32px;
        max-height: 32px;
    }
}







.disabled-date{
    color:rgb(255, 143, 143) !important;
}


.star{
    color: rgb(255, 214, 110);
}

.btn-mr{
    color: white;
    margin-right: 1rem;
}

.nav-link i{
    color: white;
    margin-right: 0.5rem;
}
